@model blog.Models.Post

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">@Model.Titulo</h3>
  </div>
  <div class="panel-body">
          <div class="blog-post">
            <p asp-for="Conteudo">@Model.Conteudo</p>
          </div><!-- /.blog-post -->
  </div>
</div>



 